@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-green500: var(--green500);
	--color-green400: var(--green400);

	--color-neutral500: var(--neutral500);

	--font-ClashExtralight: var(--ClashExtralight);
	--font-ClashDisplayLight: var(--ClashDisplayLight);
	--font-ClashDisplayRegular: var(--ClashDisplayRegular);
	--font-ClashDisplayMedium: var(--ClashDisplayMedium);
	--font-ClashDisplaySemibold: var(--ClashDisplaySemibold);
	--font-ClashDisplayBold: var(--ClashDisplayBold);

	--font-GeneralSansExtralight: var(--GeneralSansExtralight);
	--font-GeneralSansLight: var(--GeneralSansLight);
	--font-GeneralSansRegular: var(--GeneralSansRegular);
	--font-GeneralSansMedium: var(--GeneralSansMedium);
	--font-GeneralSansSemibold: var(--GeneralSansSemibold);
	--font-GeneralSansBold: var(--GeneralSansBold);

	--background-image-heroGradient: var(--heroGradient);
	--background-image-skeletonGradient: var(--skeletonGradient);
	--background-image-brandGradient: var(--brandGradient);

	--animate-skeleton: skeletonKeyframe 3s linear infinite;

	--animate-float: float 5s ease-in-out infinite;

	--color-sidebar-ring: var(--sidebar-ring);

	--color-sidebar-border: var(--sidebar-border);

	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-accent: var(--sidebar-accent);

	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-primary: var(--sidebar-primary);

	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar: var(--sidebar);

	--color-chart-5: var(--chart-5);

	--color-chart-4: var(--chart-4);

	--color-chart-3: var(--chart-3);

	--color-chart-2: var(--chart-2);

	--color-chart-1: var(--chart-1);

	--color-ring: var(--ring);

	--color-input: var(--input);

	--color-border: var(--border);

	--color-destructive: var(--destructive);

	--color-accent-foreground: var(--accent-foreground);

	--color-accent: var(--accent);

	--color-muted-foreground: var(--muted-foreground);

	--color-muted: var(--muted);

	--color-secondary-foreground: var(--secondary-foreground);

	--color-secondary: var(--secondary);

	--color-primary-foreground: var(--primary-foreground);

	--color-primary: var(--primary);

	--color-popover-foreground: var(--popover-foreground);

	--color-popover: var(--popover);

	--color-card-foreground: var(--card-foreground);

	--color-card: var(--card);

	--color-foreground: var(--foreground);

	--color-background: var(--background);

	@keyframes skeletonKeyframe {
		to {
			transform: translateX(200%);
		}
	}

	@keyframes float {
		0% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(-48px) rotateX(15deg) rotateY(-25deg);
		}
		100% {
			transform: translateY(0px);
		}
	}

	--radius-sm: calc(var(--radius) - 4px);

	--radius-md: calc(var(--radius) - 2px);

	--radius-lg: var(--radius);

	--radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

:root {
	--green500: #67d269;
	--green400: #7fee64;

	--neutral500: #838383;

	--ClashExtralight: "ClashDisplay-Extralight", "sans-serif";
	--ClashDisplayLight: "ClashDisplay-Light", "sans-serif";
	--ClashDisplayRegular: "ClashDisplay-Regular", "sans-serif";
	--ClashDisplayMedium: "ClashDisplay-Medium", "sans-serif";
	--ClashDisplaySemibold: "ClashDisplay-Semibold", "sans-serif";
	--ClashDisplayBold: "ClashDisplay-Bold", "sans-serif";

	--GeneralSansExtralight: "GeneralSans-Extralight", "sans-serif";
	--ClashDisplayLight: "GeneralSans-Light", "sans-serif";
	--GeneralSansRegular: "GeneralSans-Regular", "sans-serif";
	--GeneralSansMedium: "GeneralSans-Medium", "sans-serif";
	--GeneralSansSemibold: "GeneralSans-Semibold", "sans-serif";
	--GeneralSansBold: "GeneralSans-Bold", "sans-serif";

	--heroGradient: linear-gradient(
		260deg,
		rgba(127, 238, 100, 0.1) 0%,
		rgba(127, 238, 100, 0.0) 48.19%,
		rgba(127, 238, 100, 0.1) 100.24%
	);

	--brandGradient: linear-gradient(90deg, #ffe000 0%, #7dff16 100%);

	--skeletonGradient: linear-gradient(
		to right,
		transparent 0%,
		rgba(255, 255, 255, 0.05) 50%,
		transparent 100%
	);

	--radius: 0.625rem;

	--background: oklch(1 0 0);

	--foreground: oklch(0.141 0.005 285.823);

	--card: oklch(1 0 0);

	--card-foreground: oklch(0.141 0.005 285.823);

	--popover: oklch(1 0 0);

	--popover-foreground: oklch(0.141 0.005 285.823);

	--primary: oklch(0.21 0.006 285.885);

	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(0.967 0.001 286.375);

	--secondary-foreground: oklch(0.21 0.006 285.885);

	--muted: oklch(0.967 0.001 286.375);

	--muted-foreground: oklch(0.552 0.016 285.938);

	--accent: oklch(0.967 0.001 286.375);

	--accent-foreground: oklch(0.21 0.006 285.885);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(0.92 0.004 286.32);

	--input: oklch(0.92 0.004 286.32);

	--ring: oklch(0.705 0.015 286.067);

	--chart-1: oklch(0.646 0.222 41.116);

	--chart-2: oklch(0.6 0.118 184.704);

	--chart-3: oklch(0.398 0.07 227.392);

	--chart-4: oklch(0.828 0.189 84.429);

	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);

	--sidebar-foreground: oklch(0.141 0.005 285.823);

	--sidebar-primary: oklch(0.21 0.006 285.885);

	--sidebar-primary-foreground: oklch(0.985 0 0);

	--sidebar-accent: oklch(0.967 0.001 286.375);

	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);

	--sidebar-border: oklch(0.92 0.004 286.32);

	--sidebar-ring: oklch(0.705 0.015 286.067);
}

/**
* @license
*
* Font Family: Clash Display
* Designed by: Indian Type Foundry
* URL: https://www.fontshare.com/fonts/clash-display
* © 2025 Indian Type Foundry
*
* Clash Display Extralight 
* Clash Display Light 
* Clash Display Regular 
* Clash Display Medium 
* Clash Display Semibold 
* Clash Display Bold 
* Clash Display Variable (Variable font)

*
*/
@layer base {
	@font-face {
		font-family: "ClashDisplay-Extralight";
		src: url("../fonts/ClashDisplay-Extralight.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Extralight.woff") format("woff"),
			url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
		font-weight: 200;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "ClashDisplay-Light";
		src: url("../fonts/ClashDisplay-Light.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Light.woff") format("woff"),
			url("../fonts/ClashDisplay-Light.ttf") format("truetype");
		font-weight: 300;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "ClashDisplay-Regular";
		src: url("../fonts/ClashDisplay-Regular.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Regular.woff") format("woff"),
			url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "ClashDisplay-Medium";
		src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Medium.woff") format("woff"),
			url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
		font-weight: 500;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "ClashDisplay-Semibold";
		src: url("../fonts/ClashDisplay-Semibold.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Semibold.woff") format("woff"),
			url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
		font-weight: 600;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "ClashDisplay-Bold";
		src: url("../fonts/ClashDisplay-Bold.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Bold.woff") format("woff"),
			url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}
	/**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
	@font-face {
		font-family: "ClashDisplay-Variable";
		src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
			url("../fonts/ClashDisplay-Variable.woff") format("woff"),
			url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}

	/**
* @license
*
* Font Family: General Sans
* Designed by: Frode Helland
* URL: https://www.fontshare.com/fonts/general-sans
* © 2025 Indian Type Foundry
*
* General Sans Extralight 
* General Sans ExtralightItalic 
* General Sans Light 
* General Sans LightItalic 
* General Sans Regular 
* General Sans Italic 
* General Sans Medium 
* General Sans MediumItalic 
* General Sans Semibold 
* General Sans SemiboldItalic 
* General Sans Bold 
* General Sans BoldItalic 
* General Sans Variable (Variable font)
* General Sans VariableItalic (Variable font)

*
*/
	@font-face {
		font-family: "GeneralSans-Extralight";
		src: url("../fonts/GeneralSans-Extralight.woff2") format("woff2"),
			url("../fonts/GeneralSans-Extralight.woff") format("woff"),
			url("../fonts/GeneralSans-Extralight.ttf") format("truetype");
		font-weight: 200;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-ExtralightItalic";
		src: url("../fonts/GeneralSans-ExtralightItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-ExtralightItalic.woff") format("woff"),
			url("../fonts/GeneralSans-ExtralightItalic.ttf") format("truetype");
		font-weight: 200;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: "GeneralSans-Light";
		src: url("../fonts/GeneralSans-Light.woff2") format("woff2"),
			url("../fonts/GeneralSans-Light.woff") format("woff"),
			url("../fonts/GeneralSans-Light.ttf") format("truetype");
		font-weight: 300;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-LightItalic";
		src: url("../fonts/GeneralSans-LightItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-LightItalic.woff") format("woff"),
			url("../fonts/GeneralSans-LightItalic.ttf") format("truetype");
		font-weight: 300;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: "GeneralSans-Regular";
		src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
			url("../fonts/GeneralSans-Regular.woff") format("woff"),
			url("../fonts/GeneralSans-Regular.ttf") format("truetype");
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-Italic";
		src: url("../fonts/GeneralSans-Italic.woff2") format("woff2"),
			url("../fonts/GeneralSans-Italic.woff") format("woff"),
			url("../fonts/GeneralSans-Italic.ttf") format("truetype");
		font-weight: 400;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: "GeneralSans-Medium";
		src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
			url("../fonts/GeneralSans-Medium.woff") format("woff"),
			url("../fonts/GeneralSans-Medium.ttf") format("truetype");
		font-weight: 500;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-MediumItalic";
		src: url("../fonts/GeneralSans-MediumItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-MediumItalic.woff") format("woff"),
			url("../fonts/GeneralSans-MediumItalic.ttf") format("truetype");
		font-weight: 500;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: "GeneralSans-Semibold";
		src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
			url("../fonts/GeneralSans-Semibold.woff") format("woff"),
			url("../fonts/GeneralSans-Semibold.ttf") format("truetype");
		font-weight: 600;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-SemiboldItalic";
		src: url("../fonts/GeneralSans-SemiboldItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
			url("../fonts/GeneralSans-SemiboldItalic.ttf") format("truetype");
		font-weight: 600;
		font-display: swap;
		font-style: italic;
	}
	@font-face {
		font-family: "GeneralSans-Bold";
		src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"),
			url("../fonts/GeneralSans-Bold.woff") format("woff"),
			url("../fonts/GeneralSans-Bold.ttf") format("truetype");
		font-weight: 700;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: "GeneralSans-BoldItalic";
		src: url("../fonts/GeneralSans-BoldItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-BoldItalic.woff") format("woff"),
			url("../fonts/GeneralSans-BoldItalic.ttf") format("truetype");
		font-weight: 700;
		font-display: swap;
		font-style: italic;
	}
	/**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
	@font-face {
		font-family: "GeneralSans-Variable";
		src: url("../fonts/GeneralSans-Variable.woff2") format("woff2"),
			url("../fonts/GeneralSans-Variable.woff") format("woff"),
			url("../fonts/GeneralSans-Variable.ttf") format("truetype");
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}
	/**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 700.0;
  *
  * available axes:
  'wght' (range from 200.0 to 700.0
  */
	@font-face {
		font-family: "GeneralSans-VariableItalic";
		src: url("../fonts/GeneralSans-VariableItalic.woff2") format("woff2"),
			url("../fonts/GeneralSans-VariableItalic.woff") format("woff"),
			url("../fonts/GeneralSans-VariableItalic.ttf") format("truetype");
		font-weight: 200 700;
		font-display: swap;
		font-style: italic;
	}
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
